@page "/event-registration"

@using EventEase.Models
@using EventEase.Components

@inject EventService EventService
@inject UserSessionService UserSessionService
@inject NavigationManager Navigation

<a href="" class="btn btn-primary">Home</a>

@if (UserSessionService.IsLoggedIn)
{
    <h1>Register a New Event</h1>
    <EventEditCard Event="newEvent" SubmitButtonText="Register Event" OnSubmit="HandleValidSubmit" />
}
else
{
    <p>You must be logged in to add a new event.</p>
    <NavLink href="@($"register?returnUrl={Uri.EscapeDataString(Navigation.Uri)}")" class="btn btn-primary">Register</NavLink>
}

@code {
    private EventModel newEvent = new EventModel();

    private void HandleValidSubmit(EventModel newEvent)
    {
        // Set the creator of the event to the current user
        newEvent.CreatedBy = UserSessionService.CurrentUser;

        // Add the new event to the EventService list
        EventService.AddEvent(newEvent);
        Navigation.NavigateTo("");
    }
}

